#base_table {
    background-color: rgba(0,0,0,.03);
    border-radius: 0 0 5px 5px;
    font-size: smaller;
}

#total-pay{
    background-color: #A6C307 !important;
}

#payu-fee{
    background-color: #b9e8e9 !important;
}

#button_payu{
    background-color: #A6C307 !important;
    text-align: center;
    outline: 0;
    color: #FFF;
    border: none;
}