#budget-container{
    text-align: center
}

img#budget{
    height: 8rem !important;
    margin-bottom: 10px !important;
}

#texty{
    padding: 18px;
    text-align: justify;
}

#help-btn{
    background-color: #ff691b !important;
    border-color: #ff691b !important;
}
