.Header {
  text-align: center;
}

.Header-logo {
  height: 200px;
  image-rendering: initial;
  text-align: center;
  object-fit: cover;
}

.Header-header {
  background-color: #222;
  height: 250px;
  padding: 20px;
  color: white;
}

.Header-title {
  font-size: 1.3em;
  font-weight: normal;
}

.Header-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Login-bigAvatar-78 {
  width: 100%;
  height: 85%;
}