.Header {
  text-align: center;
}

.Header-logo {
  height: 145px;
  image-rendering: initial;
  text-align: center;
  object-fit: cover;
}

.Header-header {
  /*background-color: #222;*/
  /*background-color: #fafafa;*/
  background-image: url(../images/pattern.a3f159ba.svg);
  height: 185px;
  padding: 20px;
  /*color: white;*/
  color: black;
}

.Header-title {
  font-size: 1.3em;
  font-weight: normal;
}

.Header-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Login-bigAvatar-78 {
  width: 100%;
  height: 85%;
}