.Header {
  text-align: center;
}

.Header-logo {
  height: 100px;
  image-rendering: initial;
}

.Header-header {
  background-color: #222;
  height: 185px;
  padding: 20px;
  color: white;
}

.Header-title {
  font-size: 1.3em;
  font-weight: lighter;
}

.Header-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
